.input {
  padding: .8rem .5rem;
  background-color: #0A0A0A;
  border: 1px solid #292929;
  border-radius: .25rem;
  outline: none;
  color: var(--text-white);
}

.input::placeholder {
  color: var(--text-gray);
}

.input:focus {
  outline: 1px solid #696969;
}

